@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.post {
  $mw: 850px;
  display: grid;
  max-width: $mw;
  max-height: calc(850px * .765);
  border: 1px solid #ccc;
  border-radius: 2px;
  grid-template-columns: 1fr 330px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "imagem perfil"
    "imagem comentarios"
    "imagem footer";

  &__imagem {
    grid-area: imagem;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__perfil {
    grid-area: perfil;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    .conta {
      display: flex;
      align-items: center;
      &__image {
        width: 32px;
        border-radius: 50%;
        margin-right: 15px;
      }
      a {
        text-decoration: none;
        color: #262626;
        font-weight: bold;
        font-size: 14px;
      }
      &__check {
        margin-left: 5px;
      }
    }
  }

  &__comentarios {
    grid-area: comentarios;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-bottom: .5px solid #d4d4d4;
    border-top: .5px solid #d4d4d4;
    .comentario {
      display: flex;
      padding: 15px;
      &__imagem {
        width: 32px;
        margin-right: 15px;
        border-radius: 50%;
      }
      &__principal {
        line-height: 1.2rem;
        font-size: 14px;
      }
      &__conta {
        text-decoration: none;
        color: #262626;
        font-weight: bold;
      }
      &__check {
        width: 12px;
      }
      &__tempo {
        color: #8d8d8d;
        margin-top: 10px;
        font-size: 12px;
        a, span {
          color: #8d8d8d;
          text-decoration: none;
          font-weight: bold;
          margin-left: 10px;
        }
      }

      &__curtir {
        align-self: flex-start;
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 5px 0 0 15px;
        img {
          width: 12px;
        }
      }
    }
  }

  &__footer {
    grid-area: footer;
    padding: 15px;

    .botoes {
      display: flex;
      button {
        border: none;
        background-color: #fff;
        cursor: pointer;
        padding: 0;
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
      &__marcador {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
    }

    .curtidas {
      display: flex;
      width: 70%;
      margin: 10px 0;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
      }
      p {
        font-size: 14px;
        line-height: 1.1rem;
      }
    }

    .data {
      font-size: 10px;
      text-transform: uppercase;
      color: #8E8E8E;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .form-comentario {
      display: flex;
      align-items: center;
      padding-top: 10px;
      border-top: 1px solid #ccc;
      
      label {
        flex: 1;
        input {
          width: 100%;
          border: none;
          padding: 5px;
        }
      }
      &__publicar {
        border: none;
        background-color: transparent;
        color: #0095F6;
        font-weight: bold;
        cursor: pointer;
        padding-left: 15px;
      }
      &__icone {
        margin-right: 5px;
      }
    } 
  }

  @media (max-width: 730px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
      "perfil"
      "imagem"
      "footer";
    max-height: max-content;
    &__comentarios {
      display: none;
    }
  }
}